<div class="container my-5">

<div class="d-flex justify-content-center align-items-center bg-dark text-white ">
    <h1 class="display-1 fw-bold">About</h1>
</div>




<div class="card shadow-lg">
            <div class="row g-0">
                <!-- Image -->
                <div class="col-md-6">
                <%= image_tag "pexels-sdas-974386.jpg", class: "img-fluid rounded-start", alt: "ケーキのイメージ" %>
                </div>
                <!-- Text Content -->
                <div class="col-md-6 d-flex align-items-center">
                    <div class="card-body">
                        <p class="card-text fs-5 ">
                            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
                            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
                            様々なバリエーションをご用意しております。<br>
                            また、全国へ発送可能ですので<br>
                            「いつ」でも「どこ」でもご注文いただけます。<br>
                            ぜひご注文ください。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>